h1 {
    color :rgb(204, 32, 32);
    font-weight :1500;
}

h2{
    font-style: italic;
    font-weight:900;
    color:orangered;
}

ul, ol{
    color: #9b2226;
    font-weight:550;
}

#strike {
    text-decoration: line-through;
}

#highlight{
    background-color: yellow;
}

#style{
    font-style: italic;
    text-decoration: underline;
}

#style1{
    letter-spacing: 5px;
}

#style2{
    background-color:yellow;
    font-weight: 900;
    color:#9b2226;
    
}

p{
    color:rgb(122, 75, 13);
    font-weight:550;
}

a{
    background-color:yellow;
    color:orangered;
    font-style: italic;
    font-weight: 900;
}